<app-breadcrumb></app-breadcrumb>
<app-spinner [spinner]="spinner"></app-spinner>
<div class="card mb-4 general-settings">
    <div class="card-body">
        <h2 class="mb-4">{{title}} Experience</h2>
        <form #form="ngForm" novalidate class="tooltip-label-right">
            <div class="form-group row error-l-50 col-md-12">
                <div class="form-group col-md-12">
                    <label>Experience</label>
                    <input type="hidden" class="form-control" name="experience_id" ngModel #experience_id="ngModel">
                    <input type="text" class="form-control" name="name" ngModel required #name="ngModel" [ngClass]="{ 'invalid-input': form.submitted && !name.valid }">
                    <div *ngIf="!name.valid && form.submitted" class="required-message">Experience is required!
                    </div>
                </div>
              
                
            </div>
            
            <div class="form-group row error-l-50 col-md-12">
                
                <div class="col-md-12">
                    <label>Status</label>
                    <ng-select [items]="[{id:'1', name:'Active'}, {id:'2', name:'In-Active'}]"  bindLabel="name"
                    bindValue="id" name="status" [ngClass]="{ 'invalid-input': form.submitted && !status.valid }" ngModel required #status="ngModel">
                    </ng-select>
                    <div *ngIf="!status.valid && form.submitted" class="required-message">Status is required!</div>
                </div>
            </div>
            <div class="form-group row error-l-50 col-md-12">
                <div class="col-md-4">
                    <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" style="float: left;" [currentState]="buttonState" [isDisabled]="buttonDisabled" (click)="onSubmit()">
                        Submit
                    </app-state-button>
                </div>
            </div>
        </form>
        <simple-notifications></simple-notifications>
    </div>
</div>