.bg-greensea {
    background-color: #16a085 ;
    color: white;
}
.table th, .table td {
    border-color: #cccccc !important;
}
.custom-checkbox-select-all {
    text-align: end;
}
.custom-control-label{
    font-weight: bold;
}