<app-customtable [settings]="settings" [source]="source" [editurl]="editurl" [viewurl]="viewurl" [addurl]="addurl" [addbtn_name]="addbtn_name" [showSearch]="true" [showBulkActions]="true" [AddNewItem]="false" [deleteurl]="deleteurl" [itemsPerPage]="default_limit"
    (onDeleteChange)="onDeleteChange($event)" (onPageChange)="onPageChange($event)" (onSearchChange)="onSearchChange($event)" (onitemsPerPageChange)="onitemsPerPageChange($event)">
</app-customtable>
<app-spinner [spinner]="spinner"></app-spinner>