<app-customtable [settings]="settings" [count]="count" [source]="source" [editurl]="editurl" [viewurl]="viewurl"
    [addurl]="addurl" [addbtn_name]="addbtn_name" [showSearch]="true" [showBulkActions]="add_btn" [AddNewItem]="add_btn"
    [deleteurl]="deleteurl" [itemsPerPage]="default_limit"
    (onDeleteChange)="onDeleteChange($event)" (onPageChange)="onPageChange($event)" (onSearchChange)="onSearchChange($event)" (onitemsPerPageChange)="onitemsPerPageChange($event)">
</app-customtable>
<simple-notifications></simple-notifications>
<app-spinner [spinner]="spinner"></app-spinner>