@media only screen and (max-width: 1200px) {
    .handy-home-overview-inner {
        padding: 1.2em 0 2.5em !important;
    }

    .handy-home-footer .footer ul.social-icons li {
        padding: 0px 7px !important;
    }

    .handy-home-footer .footer ul.social-icons li a i {
        font-size: 18px !important;
    }

    ul.app-main li a img {
        max-width: 80px !important;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 990px) {
    .applyto-tasker .chat-post input {
        width: 65% !important;
    }

    .task-dtls .col-right {
        width: 48% !important;
    }
}

@media only screen and (max-width: 990px) {
    .prof_banner_inner_cont .left_prof {
        width: 70% !important;
    }

    .prof_banner_inner_cont .right_prof {
        width: 30% !important;
    }

    .handy-home-footer .ft-div {
        width: 50%;
        float: left;
    }

    .handy-home-overview .main-title {
        font-size: 18px !important;
    }

    .handy-home-overview .sub-title {
        font-size: 14px !important;
    }

    section.handy-home-gallery .spcf-dv {
        width: 25%;
        text-align: center;
    }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .applyto-tasker .chat-post input {
        width: 65% !important;
    }

    .task-dtls .chat-list .img-thumbnail {
        height: 45px !important;
        width: 45px !important;
    }

    .payment-method .circle-content {
        padding: 15px;
    }

    .task-dtls .col-right {
        width: 48% !important;
    }

    .handy-home-payment h2.section-title {
        margin: 40px auto 20px !important;
        font-size: 22px !important;
    }

    .handy-home-payment .payment-method p {
        font-size: 14px !important;
        line-height: 24px !important;
        margin: 0;
    }

    .handy-home-payment .payment-method h4 {
        font-size: 20px !important;
    }

    .footer h3 {
        font-size: 20px !important;
    }

    .handy-home-gallery h2.section-title {
        font-size: 22px !important;
    }

    .handy-home-footer .ft-div:nth-child(2) {
        min-height: 305px;
    }

    .handy-home-footer .ft-div {
        width: 50%;
        float: left;
    }

    p.copyright {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .task-dtls .chat-list .img-thumbnail {
        height: 40px !important;
        width: 40px !important;
    }

    .task-dtls .chat_def h1,
    .col-right h1 {
        font-size: 20px !important;
    }

    .slides-toggles-texts p i {
        font-size: 16px !important;
    }

    .slides-toggles-texts p {
        width: 30px !important;
        height: 30px !important;
    }

    .chat_def.col-left {
        margin-bottom: 20px;
    }

    .invt_frnd_inner_lft_tle p {
        margin-top: 30px;
    }

    .tskr_prof_dtls_tle,
    .tskr_pass_dtls_tle,
    .tskrdet_dtls_tle,
    .invt_frnd_dtls_tle,
    .wallet_dtls_tle {
        font-size: 18px !important;
    }

    .prof_nave_name {
        width: 100%;
        float: left;
    }

    .prof_navg_inner {
        box-shadow: 0 5px 5px 0 #ffffff00 !important;
    }

    .prof_nave_name a {
        border-bottom: 0 !important;
        padding: 8px 0 !important;
    }

    .prof_nave_name a {
        padding: 8px 30px;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        border-radius: 0 !important;
    }

    .prof_navg_inner {
        box-shadow: 0 5px 5px 0 #ffffff00 !important;
    }

    .prof_nave_name span {
        width: 33.33%;
        float: left;
        text-align: center;
        border: 1px solid #ddd;
    }

    .after_main_login_value {
        display: none !important;
    }

    .select2 {
        height: 50px !important;
    }

    button.btn.btn-block {
        height: 50px !important;
    }

    .handy-home-overview {
        margin-top: 100px !important;
    }

    .handy-home-payment .payment-method h4 {
        font-size: 18px !important;
    }

    .handy-home-payment .payment-method p {
        font-size: 14px !important;
    }

    .handy-home-payment h2.section-title {
        margin: 40px auto 5em !important;
        font-size: 20px !important;
    }

    .handy-home-gallery h2.section-title {
        font-size: 20px !important;
        margin: 40px auto 30px !important;
    }

    section.handy-home-gallery .spcf-dv {
        width: 33.33% !important;
        text-align: center;
    }

    .handy-home-footer .ft-div {
        width: 100%;
    }

    .handy-home-footer .footer h3 {
        font-size: 18px;
    }

    .footer_information ul li {
        text-align: center;
    }

    .handy-home-footer .footer ul.social-icons {
        text-align: center;
    }

    .sub-sections p {
        text-align: center;
        font-size: 18px !important;
    }

    .handy-home-footer .handy-lang-section {
        width: 60% !important;
        float: none !important;
        margin: 15px auto 0;
    }

    .handy-home-footer .footer-log-sec {
        text-align: center !important;
    }

    .handy-home-footer .sub-sections .sub-email .group-control {
        width: 60% !important;
        float: none !important;
    }

    .keepintouch h3:before,
    .footer_information h3:before,
    .footer-log h3:before,
    .footer-log-sec h3:after {
        left: 46% !important;
    }

    .inventory-body .login_contt.tb_contt.rsgtr-tb {
        width: 70%;
    }

    .inventory-body button.btn.btn-info.btncolor {
        margin-left: 0;
    }

    .inventory-body button.btn.btn-info.btncolor {
        width: 100%;
    }

    .inventory-body .usr_lgn.lgn_dtls span.inps-fr.inps-fr-lft {
        width: 70%;
    }

    .inventory-body input#phone {
        width: 100%;
    }


    .inventory-body .rsgtr-tb .typ_inpt .inps-fr {
        width: 30%;
    }

    .inventory-body .tb_contt_tle {
        font-size: 18px;
    }

    .inventory-body .rsgtr-tb .typ_inpt .inps-fr {
        margin: 0px;
    }

    .inventory-body .login_contt.tb_contt.rsgtr-tb {
        top: 50%;
    }

}

@media only screen and (max-width: 767px) and (min-width: 567px) {
    .handy-home-overview-inner .box-style {
        width: 50%;
    }

    .handy-home-payment .pay-ment-sec {
        width: 50% !important;
    }
}

@media only screen and (max-width: 567px) {
    .notification-datetime {
        width: 100%;
        padding-bottom: 12px;
    }

    .job-details-chat {
        font-size: 13px !important;
    }

    .chat_def span {
        font-size: 13px !important;
    }

    .tskr_prof_dtls_inner,
    .tskr_pass_dtls_inner,
    .tskrdet_dtls_inner,
    .invt_frnd_dtls_inner,
    .wallet_dtls_inner {
        padding: 0 15px !important;
    }

    .prof_banner .prof_banner_inner {
        padding: 50px 0 !important;
    }

    .tskr_prof_dtls_cont_val {
        width: 100% !important;
    }

    .prof_nave_name span {
        width: 50% !important;
    }

    .prof_nave_name a {
        font-size: 14px !important;
    }

    .prof_navg {
        padding: 15px 0;
    }

    .prof_banner_inner_cont .left_prof {
        width: 100% !important;
    }

    .prof_det {
        width: 100%;
        padding: 20px 0 0 !important;
    }

    .right_prof .btn {
        margin: 20px 0 0 !important;
    }

    .prof_banner_inner_cont .img_prof {
        float: none !important;
        text-align: center;
        margin: 0 auto;
        width: 100px !important;
        height: 100px !important;
    }

    .prof_banner_inner_cont .right_prof {
        width: 100% !important;
    }

    .inventory-body .login_contt.tb_contt.rsgtr-tb {
        width: 90%;
    }

    .inventory-body .tb_contt_tle {
        margin-bottom: 24px;
    }

    .login_contt p {
        font-size: 13px;
    }

}

@media only screen and (max-width: 500px) {
    section.handy-home-gallery .spcf-dv {
        width: 50% !important;
    }

    .handy-home-footer .sub-sections .sub-email .group-control {
        width: 100% !important;
        float: none !important;
    }

    .handy-home-footer .handy-lang-section {
        width: 100% !important;
    }
}

@media only screen and (max-width: 414px) {
    .applyto-tasker .chat-post input {
        width: 60% !important;
    }

    .inventory-body .login_contt.tb_contt.rsgtr-tb {
        width: 100% !important;
    }

    .inventory-body .usr_lgn.lgn_dtls span.inps-fr.inps-fr-lft {
        width: 80% !important;
    }

    .inventory-body .rsgtr-tb .typ_inpt .inps-fr {
        width: 20%;
    }

    section .prof_navg {
        padding: 0px !important;
    }
}

@media only screen and (max-width: 370px) {
    .job-details-chat {
        font-size: 12px !important;
    }

    .chat_def span {
        font-size: 12px !important;
    }
}