.editdata-email {
    color: red;
}

.contact-viewpage {
    background-color: #fff;
    padding: 40px;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reply-mail button {
    float: right;
}

.buttons {
    margin-top: 50px;
}

.buttons button {
    float: right;
}