<app-breadcrumb></app-breadcrumb>
<app-spinner [spinner]="spinner"></app-spinner>
<div class="card mb-4 general-settings">
    <div class="card-body">
        <h2 class="mb-4">{{title}} Payment price</h2>
        <form class="tooltip-label-right" novalidate #form="ngForm">
            <div class="form-group ng-scope">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" ngModel required #name="ngModel" [ngClass]="{ 'invalid-input': buttonDisabled && !name.valid }">
                <div *ngIf="!name.valid && buttonDisabled" class="required-message">Name is required!
                </div>
            </div>
            <div class="form-group ng-scope">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" ngModel required #description="ngModel" [ngClass]="{ 'invalid-input': buttonDisabled && !description.valid }">
                <div *ngIf="!description.valid && buttonDisabled" class="required-message">Description is required!
                </div>
            </div>
            <div class="form-group">
                <label>Payment Price Image</label>
                <input type="file" id="file" name="image" class="form-control" accept="image/*" #image ngModel (change)="getFiles($event, 'image')">
                <span class="help-block">Allowed files: jpeg, png, jpg. Max file size 1Mb</span>
                <img alt="image" class="preview-image black-image" *ngIf="paymentPriceData && paymentPriceData.image && !imagepreview.image" src="{{imageUrl}}{{paymentPriceData.image}}"><br>
                <img alt="image" class="preview-image" *ngIf="imagepreview.image" [src]="imagepreview.image"><br>
            </div>
            <div class="form-group">
                <label>Status</label>
                    <ng-select [items]="[{id:'1', name:'Publish'}, {id:'2', name:'Unpublish'}]" bindLabel="name"
                    bindValue="id" name="status" [ngClass]="{ 'invalid-input': form.submitted && !status.valid }" ngModel required #status="ngModel">
                    </ng-select>
                <div *ngIf="!status.valid && buttonDisabled" class="required-message">Status is required</div>
            </div>
            <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" style="float: right;" [currentState]="buttonState" [isDisabled]="buttonDisabled" (click)="onSubmit()">
                Submit
            </app-state-button>
        </form>
        <simple-notifications></simple-notifications>
    </div>
</div>