.tasker_name{
    color: red;
    font-weight: bold;
}

.stripe_id{
    color: red;
    font-weight: bold;
}
.new-earnings nav.breadcrumb-container {
    width: 100%;
    padding: 10px 0 0;
}
.new-earnings .search-sm {
    width: 100%;
    padding: 0px 0px 0 15px;
}
.custon-sec {
    float: left;
    width: 100%;
}
.custon-sec span.content-title h5 {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    position: relative;
}
.custon-sec span.content-text h5 {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #000;   
}
span.aqu-met {
    position: absolute;
    right: 0;
}