<!-- <div class="card mb-4">
    <div class="card-body">
        <h6 class="mb-4">Personal Settings</h6>
        <p>Your personal account settings</p>
        <form #form="ngForm" novalidate class="tooltip-label-right">
            <div class="form-group error-l-50">
                <label>Username</label>
                <input type="text" class="form-control" name="smtp_host" ngModel required #smtp_host="ngModel">
                <div *ngIf="!smtp_host.valid && form.submitted" class="invalid-tooltip">SMTP Host is required!</div>
            </div>
            <div class="form-group error-l-50">
                <label>Name</label>
                <input type="text" class="form-control" name="smtp_port" ngModel required #smtp_port="ngModel">
                <div *ngIf="!smtp_port.valid && form.submitted" class="invalid-tooltip">SMTP Port is required!</div>
            </div>
            <div class="form-group error-l-50">
                <label>Email</label>
                <input type="text" class="form-control" name="smtp_username" ngModel required email #smtp_username="ngModel">
                <div *ngIf="!smtp_username.valid && form.submitted" class="invalid-tooltip">SMTP Username is required!</div>
            </div>
            <h6>Security Settings</h6>
            <p>Secure your account</p>
            <div class="form-group error-l-50">
                <label>Password</label>
                <input type="Password" class="form-control" name="smtp_host" ngModel required #smtp_host="ngModel">
                <div *ngIf="!smtp_host.valid && form.submitted" class="invalid-tooltip">SMTP Host is required!</div>
            </div>
            <div class="form-group error-l-50">
                <label>Name</label>
                <input type="Password" class="form-control" name="smtp_port" ngModel required #smtp_port="ngModel">
                <div *ngIf="!smtp_port.valid && form.submitted" class="invalid-tooltip">SMTP Port is required!</div>
            </div>
            <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState" [isDisabled]="buttonDisabled" (click)="onSubmit()">
                Submit
            </app-state-button>
        </form>
    </div>
</div> -->
<p>Adminlist works!</p>